<div class="contact-block">
  <div class="contact-block__name">
    <div class="input-field">
      <input id="name" type="text" disabled value="{{contact.name}}" required>
    </div>
  </div>
  <div class="contact-block__phone">
    <div class="input-field">
      <input id="phone" type="text" disabled value="{{contact.phone}}" required>
    </div>
  </div>
  <div class="contact-block__actions">
    <div>
      <a class="btn-floating btn-small waves-effect waves-light blue-grey">
        <i class="material-icons pointer" (click)="editPosition(contact.id)">edit</i>
      </a>
    </div>
    <div>
      <a class="btn-floating btn-small waves-effect waves-light red">
        <i class="material-icons pointer" (click)="removePosition(contact.id)">delete</i>
      </a>
    </div>
  </div>
</div>
