.container__list-contacts {

}

.list-contacts {


  &__title {

  }

  &__search {

  }

  &__new-item {


    &__name {
    }

    &__phone {
    }

    &__add {
      text-align: center;
      align-items: center;
      margin-top: 15px;
    }
  }

  &__items {

  }
}
